.httr-oauth
.Rhistory
.Rproj.user/998C6F0A/pcs/files-pane.pper
.Rproj.user/998C6F0A/pcs/source-pane.pper
.Rproj.user/998C6F0A/pcs/windowlayoutstate.pper
.Rproj.user/998C6F0A/sources/.DS_Store
.Rproj.user/998C6F0A/sources/per/t/03367657
.Rproj.user/998C6F0A/sources/per/t/03367657-contents
.Rproj.user/998C6F0A/sources/prop/79B2D21D
.Rproj.user/998C6F0A/sources/prop/D967331D
.Rproj.user/998C6F0A/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rproj.user/998C6F0A/pcs/files-pane.pper
.Rproj.user/998C6F0A/pcs/source-pane.pper
.Rproj.user/998C6F0A/pcs/windowlayoutstate.pper
.Rproj.user/998C6F0A/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
